@model ProductViewModel

<h1>@Model.Id</h1>
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Details</p>
<p>@Model.Price</p>
<p>@Model.SeoDescription</p>
<p>@Model.SeoAlias</p>
<p>@Model.SeoTitle</p>
<p>@Model.DateCreated</p>
<p>@Model.LanguageId</p>
<p>@Model.ViewCount</p>
<p>@Model.Stock</p>